/**
 * uni.scss - Global SCSS variables and mixins
 * This file is automatically injected into all SCSS files by uni-app.
 */

// Import uview-plus variables and mixins
@import "uview-plus/theme.scss";

// Custom global variables can be added here
