.item {
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  background: #f8f8fa;
}

.itemMain {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.itemSub {
  color: #636366;
  font-size: 24px;
}

